:not(pre) > code[class*="language-"] {
  padding: .25rem .5rem;
  text-shadow: none;
}

h1 > code[class*="language-"],
h2 > code[class*="language-"],
h3 > code[class*="language-"],
h4 > code[class*="language-"],
h5 > code[class*="language-"],
h6 > code[class*="language-"],
a > code[class*="language-"] {
  /* font-size: inherit; */
	font-size: 0.8em;
}

pre[class*="language-"] {
  margin: 1.25rem 0
}
